server:
  port: 8083

spring:
  application:
    name: booking-service

  datasource:
    # Local: localhost:5434 | Docker: booking-db:5432
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5434}/ticketblitz_booking
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:abhinav195}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        generate_statistics: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.type.mapping: "bookingCreated:com.ticketblitz.booking.dto.BookingCreatedEvent"

    consumer:
      group-id: booking-group
      auto-offset-reset: earliest
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer

      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "*"
        spring.json.value.default.type: com.ticketblitz.booking.dto.PaymentUpdateEvent
        spring.json.use.type.headers: false

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: "${ZIPKIN_ENDPOINT:http://localhost:9411/api/v2/spans}"
  propagation:
    type: [ "w3c", "b3" ]

logging:
  level:
    root: INFO
    com.ticketblitz.booking: DEBUG
  file:
    name: logs/booking-service.log
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"

jwt:
  secret: "404E635266556A586E3272357538782F413F4428472B4B6250645367566B59703373367639792F423F4528482B4D6251655468576D5A7134743777217A25432A"
  expiration: 86400000

event-service:
  url: ${EVENT_SERVICE_URL:http://localhost:8082}

payment-service:
  url: ${PAYMENT_SERVICE_URL:http://localhost:8084}