server:
  port: 8084

spring:
  application:
    name: payment-service
  datasource:
    # Local: localhost:5436 | Docker: payment-db:5432
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5436}/ticketblitz_payment
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:abhinav195}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

    consumer:
      group-id: payment-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer

      properties:
        spring.json.trusted.packages: "*"
        spring.json.type.mapping: "bookingCreated:com.ticketblitz.payment.dto.BookingCreatedEvent"

stripe:
  api-key: sk_test_51SijFP1Xw8kAwTT2nbDJxqPHXQJRpWFeaHvQ1QlHLZX8IDTs8Pc4mMb8sXbRGjSxLu7tVTY8WyAU8MwsJm9dPWpk00PjosP9Li
  currency: inr

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: "${ZIPKIN_ENDPOINT:http://localhost:9411/api/v2/spans}"
  propagation:
    type: [ "w3c", "b3" ]

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
  level:
    root: INFO
    com.ticketblitz.payment: DEBUG
    org.apache.kafka: WARN

jwt:
  secret: "404E635266556A586E3272357538782F413F4428472B4B6250645367566B59703373367639792F423F4528482B4D6251655468576D5A7134743777217A25432A"
  expiration: 86400000

booking-service:
  url: ${BOOKING_SERVICE_URL:http://localhost:8083}

user-service:
  url: ${USER_SERVICE_URL:http://localhost:8085}